# If USE_MULTISITE_DB is True then a single shared DB 
# is used for multiple rdmo instances
# This file should be referenced via the MULTISITE_DB_ENV_FILE setting in each .env file
# so that each rdmo-app loads the DB settings from this file

# DATABASE settings for django default
DB_ENGINE = 
DB_NAME = 
DB_USER = 
DB_PASSWORD = 
DB_HOST = 
DB_PORT = 

# EMAIL backend settings
EMAIL_BACKEND = django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST = localhost
EMAIL_PORT = 25

EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD = 
EMAIL_USE_TLS = False
EMAIL_USE_SSL = False
DEFAULT_FROM_EMAIL = 
